:root {
  --primary-blue: #007bff;
  --off-white: #f8f9fa;
}

#profile-area {
  margin-top: 0.6rem;
  padding-bottom: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom: 2px solid var(--primary-blue);
}

#profile-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0rem 0.5rem;
  display: inline-block;
  width: 25%;
}

#profile-dropdown {
  margin-right: 0.5rem;
  background-color: var(--off-white);
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
  border-radius: 0.1rem;
  height: 1.5rem;
  outline: none;
}

#profile-dropdown:hover {
  cursor: pointer;
}
