@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Roboto-Mono.woff2') format('woff2');
}

body {
  font-family: 'Roboto Mono', monospace;
}
