:root {
  --primary-blue: #007bff;
  --off-white: #f8f9fa;
}

body,
body * {
  margin: 0;
  padding: 0;
  width: 300px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

body {
  border: 1px solid var(--primary-blue);
}

body > input:focus {
  outline: none;
}
